 .container {
  display: grid;
  grid-template-columns: repeat (10, 10%);
  grid-template-rows: repeat (10, 100px);
  }

.header {
  grid-row: 1 / span 1;
  background-image: url("saddle2.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.nav {
  text-align: center;
  font-size: auto;
  grid-row: 2 / span 1;
  list-style-type: none;
  grid-column: 1 / span 10;
  text-align: center;
  background-color: #062e4f;
}
#aboutnav {
  font-family: 'Montserrat', sans-serif;
  color: #4a9b83;
  text-align: center;
  font-size: 40px;
  display: inline;
  height: 20px;
  padding: 5px;
}
#contactnav {
  font-family: 'Montserrat', sans-serif;
  color: #4a9b83;
  text-align: center;
  font-size: 40px;
  display: inline;
  height: 20px;
  padding: 5px;
}
#portfolionav {
  font-family: 'Montserrat', sans-serif;
  color: #4a9b83;
  text-align: center;
  font-size: 40px;
  display: inline;
  height: 20px;
  padding: 5px;
}

p {
   font-family: 'Montserrat', sans-serif;
   color: #041f35;
   font-size: auto;
   margin: 10px 20px;
}
.contact {
  grid-row: 10 / span 1;
  font-family: 'Montserrat', sans-serif;
  color: #041f35;
  font-size: auto;
  margin: 0 20px;
}
.header {
  max-width: 100%;
       }
a {
  text-decoration: none;
  color: #4a9b83;
}
a:hover {
 color:#9b9900;
 background-color: #041f35;
}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:#9b9900;
    font-family: 'Montserrat', sans-serif;
}
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
